.contactos{
    padding: 20px 70px;
}
form{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 20px;
}
.row{
    display: flex;
    gap: 10px;
    width: 100%;
    gap:10px;
}

textarea{
    resize: none;
    height: 200px;
    outline: none;
    border: none;
    padding: 10px 15px;
    background: var(--light-gray-color);
    border-radius: 10px;
}

select,
input{
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 15px;
    background: var(--light-gray-color);
    border-radius: 50px;
}

button{
    border:none;
    border-radius: 50px;
    background: var(--primary-color);
    padding: 10px 15px;
    font-size: 16pt;
}

@media only screen and (max-width: 800px) {
    .contactos{
        padding: 20px;
    }
}