.sobremim-tabela {
    margin-top: 20px;
    border-collapse: collapse; /* Ensures row borders collapse */
    width: 100%;
}

.sobremim-tabela tr{
    border-bottom: 1px solid rgb(219, 219, 219);
}

.sobremim-tabela tr td{
    padding: 10px;
}