body{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.main-container{
    margin-top: 20px;
    height: 500px;
    background: rgb(232, 232, 233);
    padding: 0 70px;
    position: relative;
    display: flex;
}

.main-container .introduction{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.main-container .introduction p{
    align-content: center;
    font-size: 16pt;
}

.main-container .introduction h1{
    align-content: center;
    font-family:'Times New Roman', Times, serif;
    color: var(--primary-color);
    font-size: 32pt;
}

.main-container .introduction p,
.main-container .introduction h1{
    padding: 0;
    margin: 0;
}

.main-container .image-container{
    width: 55%;
    height: 100%;
    position: relative;
    background: url("../images/eu/edla.png") no-repeat center;
}

.sobremim{
    padding: 20px 70px;
    height: 650px;
}

.sobremim .container{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 50px;
}

.sobremim .container .informacao{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobremim .container .informacao p{
    font-size: 14pt;
    font-weight: 300;
}

.sobremim .container .sobremim-fotos{
    width:40%;
    position: relative;
    margin-top: 20px;
    display: flex;
    gap: 5px;
}

.sobremim .container .sobremim-fotos .row{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sobremim .container .sobremim-fotos .row .image{
    width: auto;
    height: auto;
    overflow: hidden;
    transition: 0.3s ease;
}

.sobremim .container .sobremim-fotos .row .image:hover img{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease;
}

.sobremim .container .sobremim-fotos .row img{
    width: 100%;
    border-radius: 10px;
    transition: 0.3s ease;
}

.projetos{
    padding: 20px 70px;
}

.subtitulo-container{
    width: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subtitulo-container .subtitulo{
    font-weight: 600;
}

.subtitulo-container .subtitulo-barra{
    width: 100%;
    margin-right: 20px;
    height: 3px;
    background: black;
    border-radius: 5px;
}

.titulo{
    font-size: 30pt;
    color: var(--primary-color);
}


.projetos .projetos-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.projetos .projetos-container .projeto{
    max-width: 100%;
    max-height: 700px;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projetos .projetos-container .projeto .row1{
    min-height: 50%;
}

.projetos .projetos-container .projeto .row1 img{
    height: 100%;
    object-fit: cover;
}

.projetos .projetos-container .projeto img,
.projetos .projetos-container .projeto video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.projetos .projetos-container .projeto p{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 14pt;
}

@media only screen and (max-width: 800px) {
    .main-container{
        height: 650px;
        padding: 0 20px;
        flex-direction: column;
        align-items: center;
    }

    .main-container .image-container,
    .main-container .introduction{
        width: 100%;
    }

    .main-container .introduction{
        align-items: center;
    }

    .sobremim{
        padding: 20px;
        height: auto;
    }
    
    .sobremim .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .sobremim .container .informacao{
        width: 100%;
    }

    .sobremim .container .sobremim-fotos{
        width:100%;
    }

    .projetos{
        padding: 20px;
    }

    .projetos .projetos-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .main-container{
        margin-top: 40px;   
    }

    .projetos .projetos-container{
        grid-template-columns: 1fr;
    }
    
    .projetos .projetos-container .projeto{
        max-width: 100%;
    }
}